{% extends "base.html" %}

{% block title %} 
About
{% endblock title %}

{% block body %}



<!-- About Us Section -->
<section class="container my-5">
    <div class="row">
        <div class="col-lg-8">
            <h2 class="mb-4">About Us - Image Steganography</h2>
            <p>
                Welcome to SecureEncrypt, your go-to resource for information on image steganography. We are passionate about the art and science of hiding information within images, ensuring secure communication and data protection.
            </p>
            <p>
                Our team of experts is dedicated to exploring, researching, and educating the community about the various techniques and advancements in the field of image steganography.
            </p>
        </div>
        <div class="col-lg-4">
            <img src="static/12.jpeg" alt="Team Photo" style="height: 300px;" class="img-fluid rounded">
        </div>
    </div>
</section>

<!-- Team Members Section -->
<section class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4">Our Team</h2>
        <div class="row">
            <div class="container col-lg-4">
                <div class="card mb-4 text-center">
                    <div style="display: flex; justify-content: center;">
                        <img src="" class="card-img-top my-3 shadow mt-5" alt="Team Member 1" style="height: 200px; width: 200px; border-radius: 50%;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">shiva prasad</h5>
                        {% comment %} <p class="card-text">Lead Developer</p> {% endcomment %}
                    </div>
                </div>
            </div>

            <div class="container col-lg-4">
                <div class="card mb-4 text-center">
                    <div style="display: flex; justify-content: center;">
                        <img src="" class="card-img-top my-3 shadow mt-5" alt="Team Member 1" style="height: 200px; width: 200px; border-radius: 50%;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">shashank</h5>
                        {% comment %} <p class="card-text">Tester</p> {% endcomment %}
                    </div>
                </div>
            </div>

            <div class="container col-lg-4">
                <div class="card mb-4 text-center">
                    <div style="display: flex; justify-content: center;">
                        <img src="" class="card-img-top my-3 shadow mt-5" alt="Team Member 1" style="height: 200px; width: 200px; border-radius: 50%;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">sandhya</h5>
                        {% comment %} <p class="card-text">Researching</p> {% endcomment %}
                    </div>
                </div>
            </div>
            
           
        </div>
    </div>
</section>

<!-- Contact Section -->
{% comment %} <section class="container my-5">
    <h2 class="text-center mb-4">Contact Us</h2>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Your Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Your Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputMessage">Message</label>
            <textarea class="form-control" id="inputMessage" rows="4" placeholder="Your Message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
</section> {% endcomment %}


{% endblock body %}